/* TODO: design your profile with CSS */
body {
  background-color: rgb(240, 240, 240);
  color: #0A0A0A;
  font-family: 'Raleway', sans-serif;
  margin: 8% 12%;
}
h1,h2,.btn-primary {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  font-size: 1.4em;
  color: black;
  margin-bottom: 40px;
}
h2 {
  font-size: 1em;
  color:black;
}


#avatar {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.card {
  background: white;
  padding: 8%;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin-top: 8%;
  text-align: center;
  >* {
    margin: 30px 0;
  }
}

.list-inline {
  list-style: none;
  list-style-type: none;
  padding: 0;
}

.list-inline li {
  display: inline;
}

.list-inline i {
  font-size: 50px;
  color: rgb(200, 200, 200);
  margin: 50px 30px;
}

.btn-primary {
  display: block;
  background-color: lightgreen;
  color: white;
  font-size: 1em;
  width: max-content;
  padding: 30px;
  margin: 80px auto 50px auto;
  border-radius: 8px;
}

a {
  text-decoration: none;
}
